@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*-------------- nav-----------*/
body{
    font-family: 'Lato', sans-serif;
    color: rgb(5, 5, 5);
}

h2{
    font-family: 'Lobster Two', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555;
}

#logo{
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

#nav{
    font-size: 80%;
    list-style-type: none;
    letter-spacing: 2px;
    background-color: transparent;
}

#logo, #nav{
    line-height: 60px;
}

#nav li{
    float: right;
    margin-right: 30px;
}

#nav a{
    text-decoration: none;
    color: inherit;
}

#nav a:hover {
    border-bottom: 1px solid #777;
}

.active{
    border-bottom: 1px solid #777;
}
/*-------------- callout -----------*/
#outer-main {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image-text, #main-image-text h2 {
    color: #fff;
}

#main-image {
    background: url('../img/main-image.webp');
    height: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#main-image-text {
    font-size: 250%;
    font-family: 'Lobster Two', cursive;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;

    background-color: rgba(148, 45, 103, 0.7);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}
/*--------------Main page information card---------*/
#info-section {
    padding-top: 30px;
}

#info-section h2 {
    font-size: 250%;
    text-align: center;
    padding: 20px;
}

#card {
    display: flex;
    
    background-color: rgba(148, 45, 103, 0.7);
    height: auto;
    width: 66%;
    margin: auto;
    border-radius: 20px;

    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

#card-text {
    flex: 1 1 0;
    text-align: center;
    padding-top: 20px;
}

#card-text h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 225%;

    color: #fafafa;
}

#card-text p {
    padding-top: 10px;
    line-height: 20px;
    color: #fafafa;
}

#card-text a {
    color: #fafafa;
    text-decoration: none;
}

#card-text a:hover {
    border-bottom: 1px solid #fafafa;
}

#card-text p:last-of-type {
    padding-bottom: 20px;
}

hr {
    border-bottom: 2px solid #fafafa;
    width: 75%;
    margin: auto;
    padding-bottom: 5px;
}

#card-image {
    flex: 1 1 auto;
    border-radius: 0 20px 20px 0;;
    background: url('../img/community1.jpeg') no-repeat center center;
}
/*--------------Main page information card---------*/

/*-------------- reviews -----------*/
.text-uppercase{
    text-align: center;
}
/*-------------- info -----------*/
.col-md-4{
    background-image: url('assets/img/community1');
}
/*-------------- class schedule -----------*/
#times{
    background-image: url('../img/hays-galleria.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}
#times div {
    color: #fafafa;
    background-color: rgba(0,0,0, .6);
    width: 19%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    margin: 2px;
}

#times h2 {
    color: #fafafa;
}
h4, h5{
    font-family: 'Lobster Two', cursive;
}

.blockquote{
    padding-left: 20px;
}
/*-------------- class schedule -----------*/

/*-------------- menu -----------*/

#menu-section {
    display: flex;
    flex-direction: row;
    padding-top: 90px;
    margin: auto;
    width: 90%;
  }

  #menu {
    width: 40%;
    margin: auto;
    background-color: rgba(148, 45, 103, 0.7);
    padding: 20px;
    text-align: center;

    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  }

  #menu h2 {
    font-size: 50px;
    padding: 5px;
    color: #fafafa;
  }

  #menu h3 {
    font-size: 30px;
    padding: 5px;
    color: #fafafa;
  }

  .item {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 75%;
    font-size: 20px;
    color: #fafafa;
  }

  #menu-image {
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  }

  #menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
/*-------------- menu -----------*/
/*-------------- footer -----------*/
footer {
    padding-top: 10px;
    height: 100px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #242424;
}

footer p {
    text-align: center;
    padding-bottom: 20px;
}

footer a {
  color:#3c7272;
  text-decoration: none;
}

@media screen and (max-width: 1396px){
    #quotes{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 943px){

    #menu{
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }
}